{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron" style="margin-top:20%;">
    <h2>Please Login: </h2>
    <h3>(Must be superuser,check with site admin)</h3>

    {% if forms.errors %}
        <p>Your username and password dont match</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value={{next}}> <!--  this is just for the case of django this is not standard -->
    </form>
</div>
{% endblock %}